.home__body{
   display: flex;
   justify-content: center;
}

.home__banner{
    width: 100%;
    height: 400px;
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
    max-width: 1500px;
    z-index: -1;
    margin-bottom: -150px;
}